header {
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar {
    padding: 20px 0;
}

.navbar-brand {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background: #262626;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #262626;
    padding: 5px 15px;
    transition: all 300ms ease-in-out .1ms;
}

.banner {
    position: relative;
    background: url(https://image.noelshack.com/fichiers/2018/52/5/1546001252-img.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 500;
    text-transform: uppercase;
    color: #262626;
}

.banner p {
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #262626;
}

.btnD1 {
    display: inline-block;
    margin: 1em 0 0;
    background: #ff2670;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
    transition: all 300ms ease-in-out .1ms;
}

.btnD1:hover {
    color: #ff2670;
    text-decoration: none;
    background: #fff;
}

.navbar-light .navbar-toggler {
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}

@media (max-width: 768px) {
    .banner {
        padding: 200px 0;
    }
    .banner h2 {
        font-size: 1.8em;
    }
    .navbar-collapse {
        background: #fff;
    }
}

.twitter {
    width: 120px;
    height: 120px;
}

.background {
    background-image: url('background.jpg');
}